/*
written (with ♥)
by Joseph Hilber
beginning 4/25/2020
*/

@font-face {
    font-family: "libReg";
    src: url("../fonts/liberation/LiberationSans-Regular.ttf");
}

@font-face {
    font-family: "libLight";
    src: url("../fonts/liberation/LiberationSans-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "gothicExtraLight";
    src: url("../fonts/Gothic_A1/GothicA1-ExtraLight.ttf");
}

@font-face {
    font-family: "gothicReg";
    src: url("../fonts/Gothic_A1/GothicA1-Regular.ttf");
}

@font-face {
    font-family: "gothicSemiBold";
    src: url("../fonts/Gothic_A1/GothicA1-SemiBold.ttf");
}

html {
    scroll-behavior: smooth;
/*    overflow-x: hidden;*/
}

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

nav {
    font-family: "gothicReg", "libReg", sans-serif;
    letter-spacing: .5px;
    font-weight: 300;
    font-size: 28px;
    color: #707070;
    position: relative;
    margin-top: 32px;
    height: auto;
    width: 88vw;
    margin-left: 6vw;
    margin-right: 6vw;
    display: flex;
    user-select: none;
    align-items: center;
    margin-bottom: 12px;
}

.navButton {
    font-family: "gothicExtraLight", "libLight", sans-serif;
    letter-spacing: 0;
    font-weight: 100;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.navButton:hover {
    border-bottom: 4px solid #bdd89f;
}

.littleSpace {
    width: 40px;
}

a {
    position: relative;
    text-decoration: none;
    color: inherit;
}

#navSpace {
    flex: auto;
}

.underline {
    border-bottom: 4px solid #bdd89f;
}

#picture {
    width: 36vh;
    height: 36vh;
    min-width: 240px;
    min-height: 240px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid #707070;
    background-image: url(../img/glassesCropped.jpeg);
    background-size: cover;
}

#hello {
    user-select: none;
    text-align: center;
    font-family: "gothicReg", "libReg", sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 42px;
    color: #707070;
}



.spanName {
    font-family: "gothicSemiBold", "libReg", sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 42px;
    color: #9cbd77;
}

.five {
    height: 5vh;
}

#arrow {
    width: 146px;
    height: 80px;
    margin: 0 auto;
    background-image: url(../img/arrow.svg);
    background-size: cover;
/*
    position: absolute;
    bottom: 0;
*/
}

.navBottomButton {
    font-size: 42px;
}

#navBottom {
    margin-left: 12vw;
    margin-right: 12vw;
    width: 76vw;
    margin-top: 0;
    color: #9d9d9d;
}

#scroll {
    height: 40px;
}

#proj1 {
    color: #707070;
    border-bottom: 4px solid #bdd89f;
    cursor: default;
}

#tf {
    width: 76vw;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 60px;
    line-height: 60px;
    height: auto;
    color: #707070;
    font-family: "libReg", sans-serif;
    text-align: justify;
    text-indent: 2em;
}

.pointer {
    cursor: pointer;
}

footer {
    color: #9d9d9d;
    font-family: "gothicReg", "libReg", sans-serif;
    margin-bottom: 32px;
    margin-left: 6vw;
    margin-right: 6vw;
    width: 88vw;
}

.pFirst {
    text-indent: 0;
}

#contactCards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    font-family: "gothicReg", "libReg", sans-serif;
}

.cards {
    width: 26.66vw;
    min-width: 360px;
    height: 27vw;
    min-height: 240px;
    margin: 0 auto;
}

.spaceCards {
    width: 5vw;
}

/* help from w3schools.com: https://www.w3schools.com/howto/howto_css_cards.asp */
.cardsGUI {
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 86%;
    background-color: #bdd89f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    transition: 400ms;
    color: #fff;
    text-align: center;
}

.cardsGUI:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.cardsTitle {
    user-select: none;
    font-family: "gothicSemiBold", sans-serif;
    display: inline-block;
}
.svgs {
    user-select: none;
}

.innerSVG {
    height: 100%;
}

.cardsInfo {
    font-family: "gothicReg", sans-serif;
    margin: 0 2vw;
}

#contactFooter {
    display: flex;
    align-items: center;
}

#footerSpace {
    flex: auto;
}

br {
    user-select: none;
}

.underlineWhite {
    border-bottom: .1em #fff solid;
}

#underlineThin {
    border-bottom: .1em solid #bdd89f;
}

.navBottomSpace {
    flex: auto;
}

.projPic {
    user-select: none;
    margin-right: 1em;
    margin-bottom: .5em;
}

.linkSeen {
    text-decoration: underline #707070;
}

.imgRounded {
    border-radius: 8px;
}

.words {
    user-select: none;
    text-align: center;
    font-family: "gothicReg", "libReg", sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 42px;
    color: #707070;
}

#main {
    height: 100vh;
    position: relative;
}

#intro {
    height: 70vh;
    position: relative;
    display: flex;
/*    text-align: center;*/
/*    vertical-align: middle;*/
}

#introInner {
/*    position: absolute;*/
    margin: auto;
}
